{% extends 'base.html.twig' %}

{% block title 'Se connecter' %}

{% block body %}
    <div class="container mt-4">
        <h1>Se connecter </h1>
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey |trans(error.messageData, 'security')  }}
            </div>
        {% endif %}
        <form action="{{ path('login') }}" method="post">
            <div class="form-group">
                <label for="username"> Email</label>
                <input type="text" class="form-control" name="_username" id="username" value="{{ last_username }}">
            </div>
            <div class="form-group">
                <label for="password"> Mot de passe</label>
                <input type="password" class="form-control" name="_password" id="password">
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
    </div>
{% endblock %}