{% extends 'base.html.twig' %}

{% block title 'Les derniers biens enregistrer' %}

{% block body %}


<div class="jumbotron text-center">
    <h1>Agence lorem</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aut, commodi ducimus earum enim expedita impedit ipsa ipsum itaque nostrum quibusdam quod sequi sit sunt ullam, veritatis vero. Quos, similique!</p>
</div>

    <div class="container">
        <h2>Les derniers biens enregistrer</h2>
        <div class="row flex">
            {% for property in properties %}
            <div class="col-3">
                {% if property.filename %}
                    <img class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb')}}" alt="{{ property.title }}" />
                {% else %}
                    <img class="card-img-top" src="{{ '/images/properties/empty.jpg' | imagine_filter('thumb')}}" alt="{{ property.title }}"/>
                {% endif%}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property.show',{id : property.id, slug : property.slug}) }}">{{ property.title }}</a>
                        </h5>
                        <p class="card-text">{{ property.city }} ({{ property.postalCode }})</p>
                        <p class="text-primary">{{ property.formattedPrice }} FCFA</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
