{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer {{ property.title }}</h1>

        {{ include('admin/property/_form.html.twig', {form: form, button: 'Editer'}) }}

    </div>
{% endblock %}