<div class="row ">
    {% for property in properties %}
        <div class="col-4">
            {% if property.filename %}
                <img class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('thumb')}}" alt="{{ property.title }}" />
            {% else %}
                <img class="card-img-top" src="{{ '/images/properties/empty.jpg' | imagine_filter('thumb')}}" alt="{{ property.title }}" />
            {% endif%}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{ path('property.show',{id : property.id, slug : property.slug}) }}">{{ property.title }}</a>
                    </h5>
                    <p class="card-text">{{ property.surface }} m2 {{ property.city }} ({{ property.postalCode }})</p>
                    <p class="text-primary">{{ property.formattedPrice }} FCFA</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
