{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{ form_row(form.name) }}</div>
</div>
{{ form_rest(form) }}
<button type="submit" class="btn btn-primary">{{ button | default('Enregistrer') }}</button>
{{ form_end(form) }}