{% extends 'base.html.twig' %}

{% block title option.name %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer {{ option.name }}</h1>

        {{ include('admin/option/_form.html.twig', {form: form, button: 'Editer'}) }}

    </div>
{% endblock %}
