{% extends 'base.html.twig' %}

{% block title 'Gerer les options' %}

{% block body %}
    <div class="container mt-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        <h1>Gerer les options</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for option in options %}
                <tr>
                    <td>{{ option.name }}</td>
                    <td>
                        <a href="{{ path('admin.option.edit',{id : option.id}) }}" class="btn btn-secondary">Editer</a>
                        <form action="{{ path('admin.option.delete', {id: option.id}) }}" method="post" style="display: inline-block" onsubmit="return confirm('Etes vous sure!')">
                            <input type="hidden" name="_method" value="DELETE" >
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}" >
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{{ path('admin.option.new') }}" class="btn btn-primary">Créer une nouvel option</a>
        </div>
    </div>
{% endblock %}
