{% extends 'base.html.twig' %}

{% block title 'Ajouter un nouveau bien' %}

{% block body %}
    <div class="container mt-4">
        <h1>Ajouter un nouveau bien</h1>

        {{ include('admin/option/_form.html.twig', {form: form, button: 'Ajouter'}) }}

    </div>
{% endblock %}
